@mixin easeOut {
  transition: all 0.5s ease-out;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  color: #dfdfdf;

  h1 {
    font-size: 25px;
  }
}

.menu {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 4px 0;
    background-color: #dfdfdf;
    @include easeOut;

    &:nth-child(3) {
      width: 20px;
      margin-left: auto;
    }
  }

  //   Rotate into X
  &.close {
    transform: rotate(180deg);
    position: fixed;

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
        width: 28px;
        margin: 0 0 4px 0;
      }
    }
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .nav-links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: darken(#777778, 3);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul {
    list-style: none;

    li {
      margin: 20px;

      a {
        color: white;
        text-decoration: none;
        @include easeOut;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  nav {
    visibility: visible;
    position: absolute;
    top: 77px;
    right: 25px;
    height: 70px;
    display: flex;
    justify-content: flex-end;

    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: 100%;
      background: none;
      width: 40%;
    }
  }
}
